* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.title {
  position: relative;
  color: #242121;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  align-self: start;
}
.title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
}

.portfolio {
  padding: 140px 0 165px;
}
.portfolio__top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 100px;
}
.portfolio__filter-btn {
  margin-left: 350px;
  outline: none;
}
.portfolio__btn {
  background-color: #fff;
  padding: 0 4px 5px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #333;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 25px;
  cursor: pointer;
}
.portfolio .mixitup-control-active {
  border-bottom: 1 solid #FCBB08;
}
.portfolio__content {
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.portfolio__item img {
  width: 100%;
}
.portfolio__item {
  position: relative;
  margin-bottom: 22px;
}
.portfolio__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background-color: #4c4a4a;
  border: 12px solid #666565;
  text-decoration: none;
  opacity: 0;
  transition: 0.3s;
}
.portfolio__item-link:hover {
  opacity: 1;
}
.portfolio__add {
  display: block;
  color: #242121;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding: 42px 15px 41px;
  background: #F6F8FA;
  margin-bottom: 130px;
}
.portfolio .blockquote {
  max-width: 650px;
  margin: 0 auto 148px;
  text-align: center;
  color: #242121;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 36px;
}
.portfolio .blockquote__author {
  padding: 50px 0 0 0;
  display: block;
  color: #9E9E9E;
  text-align: center;
  font-family: "Merriweather" serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 32px;
}
.portfolio__video {
  background: url("../img/portfolio/bg.jpg") center/cover no-repeat;
  height: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 165px;
}
.portfolio__numbers {
  display: flex;
  justify-content: space-around;
}
.portfolio__numbers-item {
  margin-bottom: 9px;
  color: #242121;
  font-family: "Montserrat" serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.portfolio__numbers-item span {
  color: #333;
  font-size: 14px;
  display: block;
}

.header__top {
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.header__top-inner {
  display: flex;
  align-items: center;
  height: 95px;
  justify-content: space-between;
}
.header .logo {
  align-self: start;
}
.header .menu__list {
  display: flex;
  list-style-type: none;
  gap: 50px;
}
.header .menu__list-link {
  padding: 0 7px 9px;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  color: #373A39;
  font-weight: bold;
}
.header .menu__list-link:hover {
  border-bottom: 1px solid #FCBB08;
}
.header__content {
  background: url("../img/promo/Header-bg (1).png") center/cover no-repeat;
}
.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 94px);
}
.header__title {
  margin-top: auto;
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-family: Montserrat;
  font-weight: 500;
  padding-top: 130px;
}
.header__subtitle {
  margin-bottom: auto;
  margin-top: 18px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  color: #FCBB08;
}
.header__icon {
  margin-bottom: 62px;
}

.about {
  background-color: #F6F8FA;
  padding: 150px 0 160px;
}
.about__title {
  font-size: 48px;
  flex: 1 0 235px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  gap: 172px;
}
.about__text p:not(:last-child) {
  margin-bottom: 16px;
}

.expertise {
  padding: 143px 0 188px;
}
.expertise__title {
  margin-bottom: 90px;
}
.expertise__inner {
  display: flex;
  margin-bottom: 110px;
}
.expertise__info {
  margin-top: 10px;
  width: 370px;
  gap: 30px;
  flex: none;
}
.expertise__info-item {
  position: relative;
  border-top: 2px solid #1D1D1D;
  padding: 2px 0 28px;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1d1d1d;
}
.expertise__info-item span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px;
}
.expertise__info-item span::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #f0f0f0;
  right: -7px;
  top: -2px;
  width: 100%;
}
.expertise__items {
  display: flex;
}
.expertise__item {
  display: flex;
  position: relative;
  gap: 35px;
  flex-basis: 370px;
  padding-left: 85px;
}
.expertise__item img {
  width: 50px;
  height: 50px;
}
.expertise__item-title {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  font-weight: 700;
  margin-bottom: 14px;
}
.expertise__item-text {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.expertise__text p {
  margin-left: 30px;
}
.expertise__text p:not(:last-child) {
  margin-bottom: 25px;
}

.magic {
  padding: 100px 0 215px;
  background: url("../img/magic/img.jpg") left/50% no-repeat;
  background-color: #F6F8FA;
}
.magic__inner {
  max-width: 470px;
  margin-left: auto;
}
.magic__title {
  margin-bottom: 67px;
}
.magic__text p:not(:last-child) {
  margin-bottom: 25px;
}

.slider-blog {
  background-color: #F8F6FA;
  padding: 115px 0;
}