.about
	background-color: #F6F8FA
	padding: 150px 0 160px
	&__title
		font-size: 48px
		flex: 1 0 235px
	&__inner
		display: flex
		justify-content: space-between
		gap: 172px
	&__text p:not(:last-child)
		margin-bottom: 16px





